@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

html,
body {
	padding: 0;
	margin: 0;

	line-height: 1.6;
	font-size: 18px;
	background-color: #f5f7f8;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "DM Sans", sans-serif;
	color: #002056;
}

a {
	color: #0070f3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}

/* width */
::-webkit-scrollbar {
	height: 10px;
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #0649bc;
}

.toast-container {
	color: black;
	font-size: 14px;
}

.Toastify__progress-bar-theme--light {
	background: green !important;
}

/* .Toastify__toast-container--bottom-center {
	z-index: 999999999 !important;
} */

:root {
	--toastify-z-index: 99999999999999 !important;
}

.export-btn {
	background-color: #0649bc;
	color: #fff;
	border-radius: 5px;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: all 0.3s ease-in-out;
}

.sml-link {
	font-size: 14px;
	margin-left: 26px;
}

.sml-p-review {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}
