@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

html,
body {
	padding: 0;
	margin: 0;

	line-height: 1.6;
	font-size: 18px;
	background-color: #fdfdfd;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "DM Sans", sans-serif;
	color: #002056;
}

a {
	color: #0070f3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}

/* width */
::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #0649bc;
}
